body{
   margin: 0;
   padding: 0;
}

.header {
    width: 100%;
    z-index: 1;
}


.headerStyle {
     color: darkmagenta;
     
}

.datosPersonales {
    margin-top: 150px;
    margin-bottom: 60px;
    color: blue;
}